
html {
  overflow-y: scroll;
  height: 100%;
}

form.signup,
form.login {
  margin-top: 50px;
}


body {
  background-image: url(https://i.kinja-img.com/gawker-media/image/upload/t_original/blc5raljkm1ly45jbqzd.png);
  background-repeat:repeat ;
  background-position-y: 70px;
  background-size: cover;
  font-family: sans-serif;
  position: relative;
}


.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 3px solid black;
  padding: 15px;
  z-index: -1;
}

.container-1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 3px solid black;
  padding: 10px;
  z-index: -1;

}

<<<<<<< HEAD
<<<<<<< HEAD
.container-2 {
  position: fixed;
  min-width: 100
  height: auto;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 3px solid black;
  padding: 20px;
  z-index: -1;
=======
=======

>>>>>>> 8a31e3af90e52ece4dd1b5f90d68d16e8a5e1156
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;

<<<<<<< HEAD
>>>>>>> 19652b5202ff421573b562bd32b079301d111922
=======
>>>>>>> 8a31e3af90e52ece4dd1b5f90d68d16e8a5e1156
}


.card-deck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  margin: 0 auto; /* Added */
        float: none; /* Added */
    
}

<<<<<<< HEAD
<<<<<<< HEAD
.card {
  position: relative;
  min-width: 100
  height: auto;
  margin: 10%
  top: 10%;
  left: 20%;
  /* transform: translate(-125%, 45%); */
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 3px solid black;
  z-index: -1;
=======
=======
>>>>>>> 8a31e3af90e52ece4dd1b5f90d68d16e8a5e1156

.card-1 {
  position: relative;
  margin: 0 auto; /* Added */
  float: none; /* Added */

  text-align: center;
  border: 3px solid black;
  padding: 30px;
  width: -100%;
  background-color: #f2f2f2;
<<<<<<< HEAD
>>>>>>> 19652b5202ff421573b562bd32b079301d111922
=======
>>>>>>> 8a31e3af90e52ece4dd1b5f90d68d16e8a5e1156
}

.jumbotron {

  position: fixed;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);

}

<<<<<<< HEAD
<<<<<<< HEAD
.body { position: absolute; }
=======

html { overflow: scroll; overflow-x:hidden;}
>>>>>>> 19652b5202ff421573b562bd32b079301d111922
=======

html { overflow: scroll; overflow-x:hidden;}

>>>>>>> 8a31e3af90e52ece4dd1b5f90d68d16e8a5e1156
