form.signup,
form.login {
  margin-top: 50px;
}


body {
  background-image: url(https://i.kinja-img.com/gawker-media/image/upload/t_original/blc5raljkm1ly45jbqzd.png);
  background-repeat:repeat ;
  background-position-y: 70px;
  background-size: cover;
  font-family: sans-serif;
  position: relative;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 35%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 3px solid black;
  padding: 15px;
  z-index: -1;
}

.container-1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 3px solid black;
  padding: 10px;
  z-index: -1;

}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;

}

.card-1 {
  position: relative;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  text-align: center;
  border: 3px solid black;
  padding: 30px;
  width: -100%;
  background-color: #f2f2f2;
}




html { overflow: scroll; overflow-x:hidden;}